<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.hiConnectionString" connectionString="Data Source=WKSMAN01MLAT815;Initial Catalog=hi;Persist Security Info=True;User ID=sa;Password=Passw0rd@12"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.hiConnectionString1" connectionString="Data Source=WKSMAN01MLAT819;Initial Catalog=hi;Persist Security Info=True;User ID=sa;Password=Passw0rd@12"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.hiConnectionString2" connectionString="Data Source=WKSMAN01MLAT815;Initial Catalog=hi;User ID=sa;Password=Passw0rd@12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>